.error {
  margin-top:5px;
  padding:15px;
  width:100%;
  border-radius:4px;
  background: $kuler-secondary;
  text-align:center;
  color: white;
  float:left;
  display:block;
  line-height:15px;
  position:relative;
  span{
    float:right;
    cursor:pointer;
    .fa {
      color:white;
    }
  }
}