$kuler-primary: #ffc300;
$kuler-secondary: #ff9b00;
$kuler-background: #e9f0f5;
$kuler-font: #96989A;
$kuler-shade-light: #bac2c6;
$kuler-shade-dark: #333333;
$kuler-font-family: 'Roboto', sans-serif;

$theme-border-light: 1px solid $kuler-shade-light;
$theme-border: 1px solid $kuler-shade-light;

// zindex
$menuZ: 400;
$overlayZ: 300;
$headerZ: 200;
$menuButtonZ: 300;